.platformlink{
	position:absolute;
	top:1770px;
	left:71.5%;
	margin-left:10px;

	}

.platformlink>a>img{
	opacity:0;
	width:350px;
	height:120px;
	}

.printlink{
	position:absolute;
	top:2260px;
	left:16%;
	margin-left:10px;

	}

.printlink>a>img{
	opacity:0;
	width:225px;
	height:120px;
	}

.forumlink{
	position:absolute;
	top:3260px;
	left:44%;
	margin-left:10px;

	}

.forumlink>a>img{
	opacity:0;
	width:210;
	height:120px;
	}
.ads_purchase{
	position: absolute;
	top: 3905;
	left: 65.5%;
	}
.ads_purchase>a{
	color:#ffffff;
	text-decoration:none;
	font-family: Microsoft JhengHei;
	font-size: 24px;
	font-weight: bold;
	opacity: 0.9;
	}