.middle{
	position:relative;
	width:840px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	padding:25px 25px 25px 25px;
	margin-top:150px;
	margin-bottom:78px;
	border-style:solid;
	border-width:2px;
	border-color:#999999;
	-webkit-border-radius:3px;
	padding-bottom:10px;
}
.middle:after{
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.manage{
	position:relative;
	margin:10px 10px 10px 10px;
	padding:10px 10px 10px 10px;
	width:300px;
	color:#a1a1a1;
	font-family:Microsoft JhengHei;
	float:left;
	
	
}

.manage>span{
	margin-bottom:20px;
	font-weight:bold;
	font-size:24px;
	margin-left:10px;
}
.mpicture{
	background-color:#ffffff;
	width:100px; 
	height:100px;
	margin-top:10px;
	margin-left:10px;
}
.mpicture>a{
	
}
.edit{
	margin:10px 10px 10px 10px;
	padding:10px 10px 20px 10px;
}
.edit>p{
	margin:10px 10px 5px 10px;
}
.rightside{
	position:relative;
	width: 300px;
	float:right;
	*clear:right;
}

.print_inquiry{
	color:#a1a1a1;
	font-family: 微軟正黑體;
	margin:10px 10px 50px 10px;
}
.print_inquiry>span{
	width:200px;
	margin-bottom:20px;
	font-weight:bold;
	font-size:24px;
	margin-left:10px;
	margin-bottom:15px;
	display:block;
}
select{
	color: black;
	background: #FFFFE0;
	cursor: pointer;
	width: 200px;
	height: 30px;
	font-size: larger;
	font-family: 微軟正黑體
}
.exhibition{
	width: 300px;
	margin:10px 10px 10px 10px;
	color:#a1a1a1;
	left: 100px;
	font-family: 微軟正黑體;
}
.exhibition>span{
	width:200px;
	margin-bottom:20px;
	font-weight:bold;
	font-size:24px;
	margin-left:10px;
	margin-bottom:15px;
	display:block;
}

.button1 {
	opacity:0.7;
	background-color:#000000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #858a88;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.button1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d1515), color-stop(1 , #4d4c4c));
	background-color:#000000;
}

.button2 {
	position:relative;
	opacity:0.7;
	background-color:#000000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #858a88;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 12px;
	text-decoration:none;
	float:right;
	
}

.button2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d1515), color-stop(1 , #4d4c4c));
	background:-moz-linear-gradient(top, #0d1515 10%, #4d4c4c 100%);
	background:-webkit-linear-gradient(top, #0d1515 10%, #4d4c4c 100%);
	background:-o-linear-gradient(top, #0d1515 10%, #4d4c4c 100%);
	background:-ms-linear-gradient(top, #0d1515 10%, #4d4c4c 100%);
	background:linear-gradient(to bottom, #0d1515 10%, #4d4c4c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d1515', endColorstr='#4d4c4c',GradientType=0);
	background-color:#000000;
}
.button2:active {
	position:relative;
	top:1px;
}

.space_content{
    margin-top: 5%;
}
.quota_graph_bar{
		background: #0000EB;
		*border: 1px solid #5d9fd5;
		height: 5px;
		opacity: 1;
	}
.quota_graph_container{
	height:10px;
	width:200px;	
    margin-top: 5%;

}	
.graph_container
{
	*border-top: 1px solid #ddd;
	background:#747474;
	height: 5px;
	width: 165px;	
}
.space_use_status{
	margin-bottom:20px;
	font-weight:bold;
	font-size:24px;
	margin-left:10px;
}
#space_use{
	font-size:10px;	
    margin-left: 15%;

}
#space_use>a{
	margin-top: 5%;
	margin-right: 5%;
}