.transaction_total{
	position:relative;
	width:940px;
	margin-left:auto;
	margin-right:auto;
	top:150px;
	font-family:Microsoft JhengHei;	
}

.total_table{	
	color:#a1a1a1;
	width: 700px;
	font-family:微軟正黑體;
	margin:10px 10px 10px 10px;
	border:2px solid;
	text-align:center;
}



.button1 {
	opacity:0.7;
	background-color:#000000;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #858a88;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	margin-top:20px;
}
.button1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d1515), color-stop(1 , #4d4c4c));
	background:-webkit-linear-gradient(top, #0d1515 10%, #4d4c4c 100%);
	background:linear-gradient(to bottom, #0d1515 10%, #4d4c4c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d1515', endColorstr='#4d4c4c',GradientType=0);
	background-color:#000000;
}